---
layout: default
---
<!DOCTYPE html>
<div id="non-skrollr">
    <div class="container-fluid">
        <div class="mast">
            <h1>Street Pet</h1>
            <br/>
            <h4><b>Estamos Trabalhando</b></h4>
            <a target="_blank" href="http://github.com/streetpet" class="{{ site.css }} darken-2 white-text text-darken-3 waves-effect waves-light btn"><i class="mdi-action-get-app"></i> Se você é desenvolvedor de Softwares ou Maker, viste o projeto no github</a><br>
            <i class="mdi-navigation-arrow-drop-down" style="font-size: 200px;"></i>
        </div>
    </div>
    <div class="container-fluid card {{ site.css }} z-depth-2 waves-effect waves-light">
        <div class="cover z-depth-1" style="background-image: url('{{site.baseurl}}img/1.jpg');">
            <div class="filter {{site.css}}" style="opacity: 0.7;">
                <div class="cover-text {{ site.css }}-text text-darken-4">
                    <h1><br>-Vantagens Deste Projeto-<br></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                <ul>
                    <li class="card advantage {{site.css}} white-text darken-1 waves-effect waves-light">
                        <h4>Totalmente Gratuito</h4>ESte projeto é totalmente gratuito, e pode ser recplicado e até mesmo reescrito como você e sua equipe desejar.
                    </li>
                    <li class="card advantage {{site.css}} white-text waves-effect waves-light">
                        <h4>Totalmente OpenSource</h4>Nosso projeto é totalmente opensource, o que lhe permite aprender como tudo é feito e o que é feito com os dados gerados.
                    </li>
                    <li class="card advantage {{site.css}} white-text waves-effect waves-light">
                        <h4>Totalmente OpenHardware</h4>Nosso projeto é totalmente openhardware, o que lhe permite aprender como tudo é feito.
                    </li>
                </ul>
            </div>
            <div class="col s12 m6">
                <ul>
                    <li class="card advantage {{site.css}} white-text waves-effect waves-light">
                        <h4>Hospedado no Github</h4>Nosso projeto é hospedado no Github, e tem apoio de todas ferramentas importantes para seu sucesso.
                    </li>
                    <li class="card advantage {{site.css}} white-text darken-1 waves-effect waves-light">
                        <h4>feel-like-hax0r</h4> Commiting new blogposts written in markdown is sure to give you the feels. Having your blog hosted alongside code will make you feel like a mini-hax0r even if you are not one.
                    </li>
                    <li class="card advantage {{site.css}} white-text waves-effect waves-light">
                        <h4>write-in-markdown</h4> WSIWYG editors are for losers. Markdown ftw!!
                    </li>
                    <li class="card advantage {{site.css}} white-text darken-1 waves-effect waves-light">
                        <h4>Licenças Abertas</h4>Procuramos adotar as licenças mais abertas e colaborativas para que possa participar sem preocupação e replicar o projeto no seu contexto, como desejar, mas lembre-se sem fins lucrátivos, cobre pelo seu serviço não pelo nosso projeto.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% for post in site.posts %}{% if post.step %}{% assign have_steps = true %}{% endif %}{%endfor%}
    {% if have_steps %}
    <i class="mdi-navigation-arrow-drop-down" style="font-size: 200px;"></i>
    <div class="row">
        <h1><br>-Primeiros Passos-<br></h1>
        <div class="container-fluid">
            Primeiros passos para participar neste projeto!
        </div>
        <i class="mdi-navigation-arrow-drop-down" style="font-size: 200px;"></i>
    </div>
    <div class="row height-container">
        {% for post in site.posts %}{% if post.step %}
                <div class="scroll-1">
                    <div class="container-fluid card {{ site.css }} z-depth-2 waves-effect waves-light">
                        <div class="cover z-depth-1" style="background-image: url('{{site.baseurl}}{{post.cover}}');">
                            <div class="filter {{site.css}}">
                                <div class="cover-text {{ site.css }}-text text-darken-4">
                                    {{post.step}}
                                </div>
                            </div>
                        </div>
                        <div class="card-content white-text">
                            <div class="card-title">{{post.title}}</div>
                            {{ post.excerpt }}
                        </div>
                        <div class="card-action {{ site.css }} darken-2">
                            <button href="{{ post.url }}" class="{{ site.css }} darken-1 white-text text-darken-3 waves-effect waves-light btn">View Post</button>
                            <button class="{{ site.css }} darken-1 white-text text-darken-3 waves-effect waves-light btn" href='#'>Bookmark!</button>
                        </div>
                    </div>
                </div>
        {% endif %}{% endfor %}
    </div>
    {% endif %}
</div>