<footer class="page-footer {{ site.css }} darken-2">
    <div class="container">
        <div class="row">
            
            <div class="col l3 m6 s12">
                <h5 class="white-text">Social Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="http://facebook.com/cursomaker/" target="_blank"><i class="mdi-social-person-add"></i> Facebook</a>
                    </li>
<!--                    <li><a class="grey-text text-lighten-3" href="https://plus.google.com/u/0//posts" target="_blank"><i class="mdi-social-plus-one"></i> Google+</a> -->
                    </li>
                    <li><a class="grey-text text-lighten-3" href="http://github.com/streetpet/" target="_blank"><i class="mdi-notification-adb"></i> GitHub</a>
                    </li>
                </ul>
            </div>
                       
            <div class="col l3 m6 s12">
            <h5 class="white-text">Where I Live</h5>
            <p class="grey-text text-lighten-4">Aquiraz - Ceará - Brasil<br>&nbsp;</p>
            </div>
            
            <div class="col l3 m6 s12">
                <h5 class="white-text">Contact-me</h5>
                <p class="grey-text text-lighten-4">+55 85 991257722<br>streetpet@carlosdelfino.eti.br<br>consultoria@carlosdelfino.eti.br</p>
            </div>

                                               
            <div class="col l3 m6 s12">
                <h5 class="white-text">Carlos Delfino</h5>
                <p class="grey-text text-lighten-4">Converting caffeine to code since 1985. I love coding.</p>
            </div>


        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2015 Naveen Shaji
            <a class="grey-text text-lighten-4 right" href="http://pixelblenders.com/" target="_blank">PixelBlenders</a>
        </div>
    </div>
</footer>