{%if include.submenu  != true %}
<div class="navbar-fixed">
    <nav class="{{ site.css }} darken-2 waves-effect waves-light">
        <div class="nav-wrapper">
           <div  class="container nav-wrapper" role="navigation" >
            <a internal href="{{ site.baseurl | prepend: '/' }}" class="brand-logo"><i class="mdi-communication-chat"></i> {{site.title}}</a>
{%endif%}
{%if menu %}
            <ul {%if include.submenu %}id="menu"{%endif%} class="">
  {%for item in menu %}
                <li class="menu-item-{{ loop.index }}">
    {% assign menusize = item.sublinks | size %}
    {% if menusize > 0 %}
                  <a  title="ir para {{ item.title }}" >{{ item.title }}</a>
    {% else %}
                  <a  href="{{site.baseurl| prepend: '/' }}{{ item.url }}" title="ir para {{ item.title }}" >{{ item.title }}</a>
    {% endif %}
    {% if item.sublinks %}
      {% assign menu = item.sublinks %}
      {% include menu.html submenu=true %}
    {% endif %}
                </li>
  {%endfor%}
  {%if include.submenu != true %}
                <li>
                    <a id="login-menu"  data-auth-provider="google" >Log In</a>
                    <a id="logout-menu" style="display: none;">Logout</a>
                </li>
    {%include firebase/login.html %}
  {%endif %}            
              </ul>
{%endif%}
{%if include.submenu != true %}
              <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a i>
          </div>
        </div>
    </nav>
</div>
{%endif%}