<div class="navbar-fixed">
    <nav class="{{ site.css }} darken-2 waves-effect waves-light">
        <div class="nav-wrapper">
           <div class="container">
            <a internal href="{{ site.baseurl }}" class="brand-logo"><i class="mdi-communication-chat"></i> {{site.title}}</a>
            <ul class="links">
                <li><a internal href="{{ site.baseurl }}">Home</a>
                </li>

                {% for item in site.data.menu.link %}
                <li><a href="{% if item.url contains 'http://' or item.url contains 'https://' %}{% else %}{{site.baseurl}}{% endif %}{{  item.url }}" alt="{{ item.title }}" {% if item.target %}target="{{ item.target }}"{% endif %}>{{ item.title }}</a></li>
                {% endfor %}
    
                <li>
                    <a id="login-menu"  data-auth-provider="google" >Log In</a>
                    <a id="logout-menu" style="display: none;">Logout</a>
                </li>
                {%include firebase/login.html %}
            </ul>
            <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a i>
        </div>
        </div>
    </nav>
</div>
