   {% include scripts/firebase.html %}

   <script type="text/javascript" type="text/javascript" src="{{ baseurl }}assets/js/vendors/jquery.min.js"></script> 

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

   <script type="text/javascript" src="{{ baseurl }}assets/js/plugins/jquery.nicescroll.min.js"></script>
   <script type="text/javascript" src="{{ baseurl }}assets/js/jquery.nicescroll.plus.js"></script>
   <script type="text/javascript" src="{{ baseurl }}assets/js/velocity.min.js"></script>
   <script type="text/javascript" src="{{ baseurl }}assets/js/skrollr.min.js"></script>
   <script type="text/javascript" src="{{ baseurl }}assets/js/jquery.scrolline.js"></script>
   
   <script type="text/javascript" src="{{ baseurl }}assets/js/modernizr/modernizr.js"></script>
   <script type="text/javascript" src="{{ baseurl }}assets/js/materialize.min.js"></script>
   <script type="text/javascript" src="{{ baseurl }}assets/js/main.js"></script>